:root {
    box-sizing: border-box;
    --square-width: 80vw;
    --third-square-width: 10vw;
    --color-one: aquamarine;
    --color-two: coral;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    position: absolute;
    left: var(--third-square-width);
    border: black solid 5px;
    border-radius: 1rem;
    width: var(--square-width);
    height: var(--square-width);
    margin: 0 auto;
    background-color: #222222;
}

.clr1 {
    background-color: var(--color-one);
    border: var(--color-one) ridge 4px;
    border-radius: 1rem;
}

.clr2 {
    background-color: var(--color-two);
    border: var(--color-two) ridge 4px;
    border-radius: 1rem;
}

[class^="sq"] {
    position: absolute;
    height: 24.7%;
    width: 24.7%;
    font-size: 14.67vw;
    text-align: center;
}

.sq11 {top: 0.2%; left: 0.2%;}
.sq12 {top: 0.2%; left: 25.2%;}
.sq13 {top: 0.2%; left: 50.2%;}
.sq14 {top: 0.2%; left: 75.2%;}
.sq21 {top: 25.2%; left: 0.2%;}
.sq22 {top: 25.2%; left: 25.2%;}
.sq23 {top: 25.2%; left: 50.2%;}
.sq24 {top: 25.2%; left: 75.2%;}
.sq31 {top: 50.2%; left: 0.2%;}
.sq32 {top: 50.2%; left: 25.2%;}
.sq33 {top: 50.2%; left: 50.2%;}
.sq34 {top: 50.2%; left: 75.2%;}
.sq41 {top: 75.2%; left: 0.2%;}
.sq42 {top: 75.2%; left: 25.2%;}
.sq43 {top: 75.2%; left: 50.2%;}
.sq44 {top: 75.2%; left: 75.2%;}

@media (min-width: 600px) {
    :root {
        --square-width: 60vw;
        --third-square-width: 20vw;
    }
    
    [class^="sq"] {
        font-size: 11vw;
    }
}

@media (min-width: 1000px) {
    :root {
        --square-width: 600px;
        --third-square-width: calc(50vw - 300px);
    }
    
    [class^="sq"] {
        font-size: 110px;
    }
}