:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
}

.test {
    position: absolute;
    border: black solid 1px;
    height: 800px;
    width: 800px;
    background-color: #222222;
}

[class^="sq"] {
    position: absolute;
    border: black solid 1px;
    height: 24.7%;
    width: 24.7%;
    font-size: 10rem;
    text-align: center;
    background-color: white;
}

.sq1 {top: 0.2%; left: 0.2%;}
.sq2 {top: 0.2%; left: 25.2%;}
.sq3 {top: 0.2%; left: 50.2%;}
.sq4 {top: 0.2%; left: 75.2%;}
.sq5 {top: 25.2%; left: 0.2%;}
.sq6 {top: 25.2%; left: 25.2%;}
.sq7 {top: 25.2%; left: 50.2%;}
.sq8 {top: 25.2%; left: 75.2%;}
.sq9 {top: 50.2%; left: 0.2%;}
.sq10 {top: 50.2%; left: 25.2%;}
.sq11 {top: 50.2%; left: 50.2%;}
.sq12 {top: 50.2%; left: 75.2%;}
.sq13 {top: 75.2%; left: 0.2%;}
.sq14 {top: 75.2%; left: 25.2%;}
.sq15 {top: 75.2%; left: 50.2%;}